@model IEnumerable<TQuocGia>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav  ">
            @foreach (var item in Model)
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maQuocGia="@item.MaNuoc">@item.TenNuoc <span class="sr-only">(current)</span></a>
                </li>
            }
        </ul>

    </div>
    <div class="quote_btn-container ">
        <a href="">
            <img src="../LayoutOgani/images/cart.png" alt="">
            <div class="cart_number">
                0
            </div>
        </a>
        <form class="form-inline">
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
        </form>
    </div>
</div>
